@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, 
body {  
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

h1 {
  font-size: 1.2rem;
  margin: 0 0 3rem 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
  padding: 2rem 2rem 0 2rem;
  width: 100%;
}

img:nth-child(2) {
  border-radius: 50%;
  margin: 1.2rem 0 2rem 0;
  width: 5rem;
}

.avatar {
  border-radius: 50%;
  margin: 1.2rem 0 2rem 0;
  width: 5rem;
}

.avatar:hover {
  background-color: #cecece;
}

button {
  border: none;
  background-color: #EAECF0;
  font-size: 1.1rem;
  font-weight: 600;
  letter-spacing: 0.06rem;
  margin-bottom: 1.5rem;
  padding: 1.5rem 30rem;
  width: 70%;
}

button:hover {
  background-color: #cecece;  
}

/* Socials */
.social-container {
  display: flex;
  gap: 1.5rem;
  margin-bottom: 6rem;
}

/* Footer */
p {
  margin: 0 ;
  padding: 0;
}
.main-footer {
  border-top: 1px solid #dfdfdf;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8rem;
  padding: 1rem ;
  width: 70%;
}
